
#musica1{
	background-image: url("../fotos/bg3.png");
	margin: 0;
	width: 100%;
	background-color: #39393A;
	background-blend-mode: color-burn;
	height: 100%;
}


#musica2{
	background-image: url("../fotos/bg2.jpg");
	margin: 0;
	width: 100%;
	background-color: #39393A;
	background-blend-mode: overlay;
}


#musica3{
	background-image: url("../fotos/bg5.jpg");
	margin: 0;
	width: 100%;
	background-color: #39393A;
	background-blend-mode: exclusion;	
}

#musica4{
	background-image: url("../fotos/bg1.png");
	margin: 0;
	width: 100%;
	background-color: #39393A;
	background-blend-mode: lighten;
	height: 100%;
	
}

#musica5{
	background-image: url("../fotos/bg2.jpg");
	margin: 0;
	width: 100%;
	background-color: #39393A;
	background-blend-mode: overlay;
}