@font-face {
    src: url(fonts/Heavitas.ttf);
    font-family: Heavitas;
}

body{
	background-color: #3B3B3B;
	background-image: url(../fotos/wave_2.gif);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom; 
}

.description {
	text-align: left;
	font-family: Heavitas, sans-serif;
	font-size: 35pt;
	color:#F32F56;
	text-align-last: right;
	display: block;

	padding: 6%;
	padding-top: 15%;
}

#logo_cabeçalho {
	padding-top: 15%;
	padding-left: 15%;
}


.ano {
	width: 80px;
}

.ano_cima {
	padding-top: 10%;
}

.ano_baixo {
	margin-top: 5%;
	
}

footer {
	padding-bottom: 100px;
}

