@font-face {
    src: url(fonts/Heavitas.ttf);
    font-family: Heavitas;
}

body{
	background-color: #39393A
}

#logo_cabeçalho {
    height: 200px;
    align-content: center;
    padding:10%;
}

#ano-title {
	font-family: Heavitas, sans-serif;
	font-size: 130pt;
	text-align: center;
	color: #F32F56;

	padding-bottom: 13%;
	padding-top: 8%;
}

.t2 {
	font-family: Heavitas, sans-serif;
	font-size: 35pt;
	color:#FFD500;
	text-align: center;

	padding-bottom: 15%;


}

.t4 {
	font-family: Karla, sans-serif;
	font-size: 18pt;
	font-weight: normal;
	color: white;
}

.t3 {
	font-family: Karla, sans-serif;
	font-size: 24pt;
	font-weight: bold;
	color: white;
	margin-bottom: 2%;
}

.text_1 {
	font-family: Karla, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	color: white;
	text-align: left;

	margin-bottom: 20%;
	margin-top: 30px;
	margin-left: 1%;
	vertical-align: center;
}

.text {
	font-family: Karla, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	color: white;
	text-align: left;
}

.foto_album_1 img {
	width: 110%;
	height: 100%;
	position: relative;
	margin-top: 30px;
}

.foto_album img {
	width: 30%;
	position: relative;
	margin-top: 30px;
	margin-bottom: 20px;
}
.foto_album {
	margin-bottom: 20%;
}

.crown {
	height: 30px;
	align-content: left;
	margin-bottom: 10px;
	margin-left:3px;
}

.rodape{
	font-family: Karla, sans-serif;
	font-size: 16pt;
	color:#FFD500;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
}

.logo_rodapé {
	height: 200px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top:20%;
}

.clipe-1 {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
}

.clipe-1 iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
}

.clipe {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
}

.clipe iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;

}